@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Merriweather:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
.desktop-home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .desktop-home-desktop-home {
    width: 100%;
    height: 2554px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: white;
  }
  .desktop-home-group7 {
    top: 0px;
    left: 0px;
    width: 1275px;
    height: 800px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .desktop-home-rectangle {
    top: 0px;
    left: 450px;
    width: 540px;
    height: 800px;
    position: absolute;
  }
  .desktop-home-text {
    top: 190px;
    left: 165px;
    color: var(--dl-color-default-almostblack);
    width: 514px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 88px;
    
  }
  .desktop-home-text05 {
    top: 190px;
    left: 925px;
    color: var(--dl-color-default-darkgrey);
    width: 350px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 32px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 22px;
  }
  .desktop-home-group3 {
    top: 414px;
    left: 925px;
    width: 260px;
    height: 72px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop-home-group2 {
    top: 0px;
    left: 0px;
    width: 204px;
    height: 72px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .desktop-home-rectangle1 {
    top: 0px;
    left: 0px;
    width: 204px;
    height: 72px;
    position: absolute;
  }
  .desktop-home-text07 {
    top: 24px;
    left: 32px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Big Shoulders Display;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop-home-group {
    top: 0px;
    left: 204px;
    width: 56px;
    height: 72px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(213, 149, 107, 1);
  }
  .desktop-home-path2 {
    top: 24px;
    left: 24px;
    width: 8px;
    height: 24px;
    position: absolute;
  }
  .desktop-home-jakartaartgallery {
    top: 1px;
    left: 0px;
    width: 450px;
    height: 799px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .desktop-home-mask {
    top: 0px;
    left: 0px;
    width: 450px;
    height: 799px;
    position: absolute;
  }
  .desktop-home-mask1 {
    top: 0px;
    left: 0px;
    width: 450px;
    height: 799px;
    position: absolute;
  }
  .desktop-home-text09 {
    top: 189px;
    left: 165px;
    color: white;
    width: 514px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 88px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 96px;
    font-weight: 900;
  }
  .desktop-home-group6 {
    top: 966px;
    left: 165px;
    width: 1110px;
    height: 1150px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop-home-group4 {
    top: 60px;
    left: 0px;
    width: 350px;
    height: 280px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .desktop-home-text14 {
    color: var(--dl-color-default-almostblack);
    width: 350px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 60px;
    font-family: 'Big Shoulders Display';
    font-size: 60px;
    font-weight: 900;
  }
  .desktop-home-text16 {
    top: 152px;
    color: var(--dl-color-default-darkgrey);
    width: 350px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 32px;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 22px;
  }
  .desktop-home-rectangle2 {
    top: 0px;
    left: 475px;
    width: 635px;
    height: 400px;
    position: absolute;
  }
  .desktop-home-rectangle-copy2 {
    top: 430px;
    left: 0px;
    width: 635px;
    height: 720px;
    position: absolute;
  }
  .desktop-home-rectangle-copy4 {
    top: 430px;
    left: 665px;
    width: 445px;
    height: 313px;
    position: absolute;
  }
  .desktop-home-group5 {
    top: 773px;
    left: 665px;
    width: 445px;
    height: 377px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(21, 21, 21, 1);
  }
  .desktop-home-group41 {
    top: 65px;
    left: 48px;
    width: 350px;
    height: 248px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(151, 151, 151, 1);
  }
  .desktop-home-text18 {
    color: white;
    width: 350px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 60px;
  }
  .desktop-home-text20 {
    top: 152px;
    color: white;
    width: 350px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 32px;
  }
  .desktop-home-mask2 {
    top: 2310px;
    left: 0px;
    width: 1440px;
    height: 244px;
    position: absolute;
  }
  .desktop-home-group10 {
    top: 2390px;
    left: 165px;
    width: 1110px;
    height: 84px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop-home-group8 {
    top: 0px;
    left: 0px;
    width: 730px;
    height: 84px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .desktop-home-text22 {
    left: 300px;
    color: white;
    width: 430px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Light;
    text-align: left;
    font-family: Outfit;
    font-weight: 300;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop-home-modernartgallery {
    top: 0px;
    left: 0px;
    width: 160px;
    height: 58px;
    position: absolute;
  }
  .desktop-home-group9 {
    top: 0px;
    left: 1010px;
    width: 100px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop-home-path {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .desktop-home-shape {
    top: 0px;
    left: 40px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .desktop-home-path1 {
    top: 2.247999906539917px;
    left: 80px;
    width: 20px;
    height: 16px;
    position: absolute;
  }
  