@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Merriweather:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
.desktop-location-active-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .desktop-location-active-desktop-location-active {
    width: 100%;
    height: 1392px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: white;
  }
  .desktop-location-active-group4 {
    top: 1148px;
    left: 0px;
    width: 1440px;
    height: 244px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(213, 149, 107, 1);
  }
  .desktop-location-active-group10 {
    top: 80px;
    left: 165px;
    width: 1110px;
    height: 84px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop-location-active-group8 {
    top: 0px;
    left: 0px;
    width: 730px;
    height: 84px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .desktop-location-active-text {
    left: 300px;
    color: var(--dl-color-default-almostblack);
    width: 430px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 28px;
    font-family: "Outfit";
font-size: 18px;
    font-weight: 300;
  }
  .desktop-location-active-modernartgallery {
    top: 0px;
    left: 0px;
    width: 160px;
    height: 58px;
    position: absolute;
  }
  .desktop-location-active-group5 {
    top: 0px;
    left: 1010px;
    width: 100px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop-location-active-path {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .desktop-location-active-shape {
    top: 0px;
    left: 40px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
  .desktop-location-active-path1 {
    top: 2.247999906539917px;
    left: 80px;
    width: 20px;
    height: 16px;
    position: absolute;
  }
  .desktop-location-active-maps {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 600px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(232, 232, 232, 1);
  }
  .desktop-location-active-mask {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 600px;
    position: absolute;
  }
  .desktop-location-active-maps1 {
    top: -49px;
    left: -87px;
    width: 1614px;
    height: 697px;
    position: absolute;
  }
  .desktop-location-active-bitmap {
    top: -43px;
    left: 0px;
    width: 1441px;
    height: 685px;
    position: absolute;
  }
  .desktop-location-active-group3 {
    top: 600px;
    left: 0px;
    width: 1440px;
    height: 548px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(21, 21, 21, 1);
  }
  .desktop-location-active-mask1 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 548px;
    position: absolute;
  }
  .desktop-location-active-group2 {
    top: 104px;
    left: 165px;
    width: 1110px;
    height: 316px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .desktop-location-active-text02 {
    color: white;
    width: 350px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 70px;
    font-family: "Big Shoulders Display";
    font-size: 70px;
    font-weight: 900;
  }
  .desktop-location-active-group {
    top: 0px;
    left: 570px;
    width: 445px;
    height: 156px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .desktop-location-active-text04 {
    color: rgb(213, 150, 108);
    width: 350px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 36px;
    font-family: "Big Shoulders Display";
    font-size: 36px;
    font-weight: 900;  }
  .desktop-location-active-text06 {
    top: 60px;
    color: white;
    width: 445px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 32px;
    font-size: 22px;
    font-family: "Outfit";
    font-weight: 300;

  }
  .desktop-location-active-text13 {
    top: 188px;
    left: 570px;
    color: white;
    width: 540px;
    height: auto;
    position: absolute;
    text-align: left;
    line-height: 32px;
    font-size: 22px;
    font-family: "Outfit";
    font-weight: 300;


  }
  .desktop-location-active-group6 {
    top: 256px;
    left: 687px;
    width: 66px;
    height: 88px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop-location-active-combined-shape {
    top: 0px;
    left: 0px;
    width: 66px;
    height: 88px;
    position: absolute;
  }
  .desktop-location-active-oval {
    top: 16px;
    left: 21px;
    width: 24px;
    height: 24px;
    position: absolute;
  }
  .desktop-location-active-group31 {
    top: 0px;
    left: 156px;
    width: 264px;
    height: 72px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .desktop-location-active-group21 {
    top: 0px;
    left: 56px;
    width: 208px;
    height: 72px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .desktop-location-active-rectangle {
    top: 0px;
    left: 0px;
    width: 208px;
    height: 72px;
    position: absolute;
  }
  .desktop-location-active-text15 {
    top: 24px;
    left: 32px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Big Shoulders Display;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop-location-active-group1 {
    top: 0px;
    left: 0px;
    width: 56px;
    height: 72px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(21, 21, 21, 1);
  }
  .desktop-location-active-path2 {
    top: 48px;
    left: 32px;
    width: 8px;
    height: 24px;
    position: absolute;
  }
  .desktop-location-active-pointer-copy12 {
    top: 1246px;
    left: 1180px;
    width: 13px;
    height: 14px;
    position: absolute;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 1) ;
    box-sizing: content-box;
  }
  .desktop-location-active-pointer-copy121 {
    top: 65px;
    left: 355px;
    width: 13px;
    height: 14px;
    position: absolute;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 1) ;
    box-sizing: content-box;
  }
  